/* Импортируем normilize.css для сброса стандартных стилей браузера */
@import url(../vendor/normalize.css);

/* подключаем сторонние шрифты */
@import url(../vendor/fonts.css);

.page {
  background-color: #000;
}

.wrapper {
  max-width: 880px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* HEADER ------------------------------*/
.header {
  padding: 45px 0 40px;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
}

.header__logo {
  max-width: 142px;
  display: block;
}

/* MAIN -------------------------------*/
.main {
  flex: 1;
  background-color: 161616;
}

/* PROFILE ----------------------------*/


/* FOOTER -----------------------------*/
.footer {
  padding: 10px;
}