/* Импортируем normilize.css для сброса стандартных стилей браузера */
@import url(../vendor/normalize.css);

/* подключаем сторонние шрифты */
@import url(../vendor/fonts.css);

.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000;
}

.wrapper {
  max-width: 880px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* HEADER ------------------------------*/
.header {
  padding: 45px 0 40px;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
}

.header__logo {
  max-width: 142px;
  display: block;
}

/* MAIN -------------------------------*/
.main {
  flex: 1;
  background-color: 161616;
}

/* PROFILE ----------------------------*/
.profile {
  padding: 40px 0 0;
  display: flex;
  align-items: center;
}

.profile__avatar {
  display: block;
  max-width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__wrapper-name {
  display: flex;
  align-items: center;
  gap: 18px;
}

.profile__name {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
}

.button {
  cursor: pointer;
  transition: opacity .3s;
}

.button:hover {
  opacity: .6;
}

.profile__edit-button {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../images/profile-info/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
}

.profile__job-title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  background-image: url(../images/profile-info/add-button.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  border-radius: 2px;
}

.elements {
  padding: 51px 0 0;
}

.elements__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: 361px;
  column-gap: 17px;
  row-gap: 20px;
}

.elements__list-item {
  
}

.elements__card {
  margin: 0;
}

.card {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.card__image {
  display: block;
  width: 100%;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 31px 21px;
}

.card__title {
  max-width: 80%;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  align-self: center;
  width: 22px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  background-image: url(../images/elements/like-disabled.svg);
  border: none;
  transition: opacity .3s;
  cursor: pointer;
}

.card__like:hover {
  opacity: .5;
}

.card__like_active {
  background-image: url(../images/elements/like-active.svg);
}

/* FOOTER -----------------------------*/
.footer {
  padding: 67px 0 60px;
}

.footer__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}